/* Estilos Globais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #2f2f2f, #000000);
    color: #f0f0f0;
}

/* Wrapper centralizado */
.wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Títulos e Parágrafos */
h2, h3 {
    font-weight: 700;
    color: #ffffff;
}

p {
    line-height: 1.6;
    margin: 15px 0;
    color: #dcdcdc;
}

/* Links */
a {
    text-decoration: none;
    color: #1e90ff;
}

a:hover {
    color: #63b8ff;
}

/* Listas */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Cabeçalho */
header {
    background-color: #1e1e1e;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #dcdcdc;
}

/* Seção Sobre Mim */
#sobre {
    padding: 60px 0 0;
    text-align: left;
}

.sobre-conteudo {
    margin: 0 auto;
}

.texto-sobre p {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #dcdcdc;
}

/* Habilidades */
.habilidades li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.habilidades li i {
    font-size: 30px;
    margin-right: 10px;
    color: #1e90ff;
    width: 30px;
    text-align: center;
}

.habilidades li i.fa-php {
    font-size: 25px;
}

/* Seção Projetos */
#projetos {
    padding: 60px 0;
    text-align: left;
}

.projeto {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.projeto h3 {
    margin-top: 0;
    color: #ffffff;
}

.projeto p {
    margin-bottom: 10px;
    color: #dcdcdc;
}

.projeto a {
    color: #1e90ff;
}

.projeto a:hover {
    color: #63b8ff;
}

/* Rodapé */
footer {
    font-size: 17px;
    text-align: center;
    padding: 15px;
    background-color: transparent;
    color: #dcdcdc;
}

footer .social-links {
    margin-top: 15px;
    color: #1e90ff;
}

footer .social-links a {
    margin: 0 15px;
    color: #dcdcdc;
    font-size: 35px;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: #1e90ff;
}

footer .email-contact {
    color: #dcdcdc;
}

/* Responsividade para telas menores */
@media (max-width: 700px) {
    .wrapper {
        padding: 0 15px;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}